body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("https://gileduardo.com.br/ifpr/dw/img/background.png");
}
#menu{
    background-color: darkblue;
    text-align: center;
    padding: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-bottom: 8px solid aqua;
    padding-left: 5px;
    
}
#topo {
    font-size: xx-large;
    color: darkblue
    
}
#cabeçalho{
    color: darkblue;
    font-size: xx-large;
    text-decoration: none;

}
#menu a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 0 25px;
    border-left: 3px solid white;
}
#menu a:last-child {
    border-right: 3px solid white;
}
#menu a:hover, a:active, a:active  i, a:hover i{
    color:rgb(0, 0, 0);
}
#cabeçalho a{
    text-decoration: none;
}

